<footer class="footer" id="footer">
  <hr class="line-footer" />
  <div class="graphic"></div>
  <div class="footer-all">
    <div class="footer-info">
      <a href="" class="footer-logo"
        ><span class="footer-span"
          ><svg class="icon-svg" width="123" height="16">
            <use href="/img/symbol-defs.svg#focus-frame"></use></svg></span
      ></a>
      <address class="footer-address">
        <ul class="footer-contacts">
          <li class="footer-li-contacts-one">
            <a class="contacts" href="tel:+38066543891">UK:+38 066 543 8912</a>
          </li>
          <li class="footer-li-contacts-two">
            <a
              class="contacts"
              href="https://www.google.com/maps/d/viewer?msa=0&ll=50.40593976760262%2C30.658034999999984&spn=0.134571%2C0.296288&mid=1gNN4e6hMoBdcJdWmm6ONME5j1fc&z=11"
              >Ukraine, Kyiv</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="footer-block">
      <div class="footer-social-networks">
        <ul class="footer-ul-social-networks">
          <li class="footer-li-social-networks">
            <a
              class="footer-a-social-networks"
              href="https://www.instagram.com/goitclub"
              target="_blank"
              >INSTAGRAM</a
            >
          </li>
          <li class="footer-li-social-networks">
            <a
              class="footer-a-social-networks"
              href="https://www.facebook.com/goITclub"
              target="_blank"
              >FACEBOOK</a
            >
          </li>
          <li class="footer-li-social-networks">
            <a
              class="footer-a-social-networks"
              href="https://www.youtube.com/GoIT"
              target="_blank"
              >YOUTUBE</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-menu">
        <ul class="footer-ul-menu">
          <li class="footer-li-menu">
            <a class="footer-a-menu link" href="#about">ABOUT US</a>
          </li>
          <li class="footer-li-menu">
            <a class="footer-a-menu" href="#courses">OUR COURSES</a>
          </li>
          <li class="footer-li-menu">
            <a class="footer-a-menu" href="#mentors">OUR MENTORS</a>
          </li>
          <li class="footer-li-menu">
            <a class="footer-a-menu" href="#section-review">REVIEWS</a>
          </li>
          <li class="footer-li-menu">
            <a class="footer-a-menu" href="#sign-up">CONTACTS</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-rectangle">
      <form class="footer-form">
        <label class="footer-label" for="footer-email">
          <input
            class="footer-input"
            type="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            name="email"
            placeholder="Enter your email"
            id="footer-email"
          />
        </label>
        <button class="footer-button" type="submit">Go</button>
      </form>
    </div>
  </div>
  <div class="footer-privacy-policy">
    <p class="footer-paragraph-one">Privacy Policy <br>Public Offering Agreement</p>
    <p class="footer-paragraph-two">2023 Focus Frame © All rights reserved</p>
  </div>
</footer>
