<header class="header">
            <div class="header-container">
                <div class="header-link-wrap">
                    <a href="/index.html" class="header-logo">
                        <svg class="header-logo-icon" width="127" height="20">
                            <use href="../img/symbol-defs.svg#icon-FocusFrame"></use>
                        </svg>
                    </a>
                    <ul class="header-list">
                        <li class="header-item">
                            <a href="#about">About us</a>
                        </li>
                        <li class="header-item">
                            <a href="#courses">Our courses</a>
                        </li>
                        <li class="header-item">
                            <a href="#mentors">Our mentors</a>
                        </li>
                        <li class="header-item">
                            <a href="#section-review">Reviews</a>
                        </li>
                        <li class="header-item">
                            <a href="#footer">contacts</a>
                        </li>
                    </ul>
                    <div class="header-mobile-icon">
                        <div class="header-mobile-link-wrap">
                            <a href="#sign-up" class="header-mobile-link">
                                <svg class="header-mobile-link-icon" width="16" height="16">
                                     <use href="/img/symbol-defs.svg#icon-bi_camera-fill-1"></use>
                                </svg>
                            </a>
                        </div>
                        <svg class="header-mobile-menu" width="32" height="22">
                            <use href="/img/symbol-defs.svg#icon-Nav-1"></use>
                        </svg>
                    </div>
                </div>
                 <a href="#sign-up"><button type="button" class="header-btn">Sign up </button></a>
            </div>
         <div class="navigation-menu">
            <div class="navigation-mobile-menu">
                <div class="navigation-block-one">
                    <button type="button" class="navigation-btn">
                        <svg class="navigation-btn-icon" width="20" height="20">
                            <use href="/img/symbol-defs.svg#icon-x-close"></use>
                        </svg>
                    </button>
                    <ul class="navigation-list">
                      <li class="navigation-item">
                        <a href="#about"><span>About us</span></a>
                      </li>
                      <li class="navigation-item">
                        <a href="#courses">Our courses</a>
                      </li>
                      <li class="navigation-item">
                        <a href="#mentors">Our mentors</a>
                      </li>
                      <li class="navigation-item">
                        <a href="#section-review">Reviews</a>
                      </li>
                      <li class="navigation-item">
                        <a href="#footer">contacts</a>
                      </li>
                    </ul>
                </div>
                <div class="navigation-block-two">
                </div>
            </div>
         </div>
</header>