<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<section class="hero">

        <div class="container hero-container">
          <h1 class="hero-title" id="hero">
            Discover the magic of <span class="hero-span">photography</span> in our school
          </h1>
          <p class="hero-text">
            Our photography school offers an unforgettable journey, where you can learn the basics of composition, master technical skills, translate your unique ideas.
          </p>
  
          <div class="hero-block">
  
            <div class="hero-block-student">
              <ul class="hero-student-list">
                <li class="hero-student-item">
                  <img 
              srcset="../img/girl1.jpg 1x, ../img/girl1-2x 2x"
                src="../img/girl1.jpg"
                alt="girl1"
                width="44">              
                </li>
                <li class="hero-student-item">
                  <img 
              srcset="../img/boy.jpg 1x, ../img/boy-2x.jpg 2x"
                src="../img/boy.jpg"
                alt="boy"
                width="44">              
                </li>
                <li class="hero-student-item">
                  <img 
              srcset="../img/girl.jpg 1x, ../img/girl-2x.jpg 2x"
                src="../img/girl.jpg"
                alt="girl"
                width="44">              
                </li>
              </ul>
              <div class="hero-student">
                <a href="#reviews">
                  <p class="hero-student-text">
                  Our happy students
                </p>
                </a>
                <svg class="hero-student-icon" width="18" height="8.66">
                  <use class="hero-icon" href="../img/symbol-defs.svg#icon-Arrow-2-Stroke"></use>
                </svg>
              </div>              
            </div>
  
            <div class="hero-block-reviews">              
              <svg class="hero-reviews-icon" width="20" height="20">
                <use class="hero-icon-star" href="../img/symbol-defs.svg#icon-star"></use>
              </svg>

              <ul class="hero-block-reviews-text">
                <li class="hero-reviews">Reviews</li>
                <li class="hero-reviews-1500">+1500</li>
              </ul>
            </div>
          </div>
  
          <div class="hero-rectangle">
            <img 
              srcset="../img/rectangle.jpg 1x, ../img/rectangle-2x.jpg 2x"
                src="../img/rectangle.jpg"
                alt="rectangle"
                width="259">   
          </div>
  
        </div>
      </section>