<section class="hero">
  <div class="hero-container">
    <div class="hero-container-left">
      <h1 class="hero-title" id="hero">
        Discover the magic of<span class="hero-span"> photography</span> in our
        school
      </h1>
      <p class="hero-text">
        Our photography school offers an
        <span class="hero-text-break">
          unforgettable journey, where you can learn the basics of composition,
          master technical skills, translate your unique ideas.
        </span>
      </p>
      <div class="hero-block">
        <div class="hero-block-student">
          <ul class="hero-student-list">
            <li class="hero-student-item">
              <picture>
                <source
                  srcset="
                    /img/img-hero/girl1-tab-dt.jpg    1x,
                    /img/img-hero/girl1-tab-dt-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/img-hero/girl1-tab-dt.jpg    1x,
                    /img/img-hero/girl1-tab-dt-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/img-hero/girl1-mob.jpg    1x,
                    /img/img-hero/girl1-mob-2x.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img src="/img/img-hero/girl1-dt.jpg" alt="girl1" />
              </picture>
            </li>
            <li class="hero-student-item">
              <picture>
                <source
                  srcset="
                    /img/img-hero/boy-tab-dt.jpg    1x,
                    /img/img-hero/boy-tab-dt-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/img-hero/boy-tab-dt.jpg    1x,
                    /img/img-hero/boy-tab-dt-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/img-hero/boy-mob.jpg    1x,
                    /img/img-hero/boy-mob-2x.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img src="/img/img-hero/boy-dt.jpg" alt="boy" />
              </picture>
            </li>
            <li class="hero-student-item">
              <picture>
                <source
                  srcset="
                    /img/img-hero/girl-tab-dt.jpg    1x,
                    /img/img-hero/girl-tab-dt-2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/img-hero/girl-tab-dt.jpg    1x,
                    /img/img-hero/girl-tab-dt-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/img-hero/girl-mob.jpg    1x,
                    /img/img-hero/girl-mob-2x.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img src="/img/img-hero/boy-dt.jpg" alt="girl" />
              </picture>
            </li>
          </ul>         
          <div class="hero-student">
            <a class="hero-student" href="#section-review">
              <div class="hero-student-text">Our happy students</div>
              <svg class="hero-student-icon" width="18" height="8.66">
                <use class="hero-icon" href="/img/symbol-defs.svg#icon-Arrow-2-Stroke"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="hero-block-reviews">
          <div class="hero-star-ciurcle">
            <svg class="hero-reviews-icon" width="20" height="20">
              <use
                class="hero-icon-star"
                href="/img/symbol-defs.svg#icon-star"
              ></use>
            </svg>
          </div>
          <ul class="hero-block-reviews-text">
            <li class="hero-reviews">Reviews</li>
            <li class="hero-reviews-1500">+1500</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="hero-rectangle">
      <picture class="hero-rectangle-jpg">
        <source
          srcset="
            /img/img-hero/rectangle-dt.jpg    1x,
            /img/img-hero/rectangle-dt-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/img-hero/rectangle-tab.jpg    1x,
            /img/img-hero/rectangle-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/img-hero/rectangle-mob.jpg    1x,
            /img/img-hero/rectangle-mob-2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img src="/img/img-hero/rectangle-dt.jpg" alt="rectangle" />
      </picture>
    </div>
  </div>
</section>
