
    <section class="our-mentors" id="mentors">
      <h2 class="our-mentors-title section-title"><span>Our</span> Mentors</h2>
      <ul class="our-mentors-list">
        <li class="our-mentors-item">

          <picture>

            <source srcset="../img/Emilia Smith.jpg" media="(min-width:1158)">
            <source srcset="../img/Emilia Smith x2.jpg 2x" media="(min-width:768)">
            <source srcset="../img/Emilia Smith x1.jpg 1x" media="(min-width:320)">

          <img src="../img/secour-mentors/Emilia Smith-min.jpg" alt="Emilia Smith" width="180" height="180" 
          class="our-mentors-img">
          
        </picture>
          <h3 class="our-mentors-subtitle">Emilia Smith</h3>
          <p class="our-mentors-item-text">
            1.5 years of experience
          </p>
        </li>
        <li class="our-mentors-item">

          <picture>

            <source srcset="../img/Alex Lebedev.jpg" media="(min-width:1158)">
            <source srcset="../img/Alex Lebedev x2.jpg 2x" media="(min-width:768)">
            <source srcset="../img/Alex Lebedev x1.jpg 1x" media="(min-width:320)">


          <img src="../img/secour-mentors/Alex Lebedev-min.jpg" alt="Alex Lebedev" width="180" height="180" 
          class="our-mentors-img">
          </picture>

          <h3 class="our-mentors-subtitle">Alex Lebedev</h3>
          <p class="our-mentors-item-text">
            3.5 years of experience
          </p>
        </li>
        <li class="our-mentors-item">


          <picture>

            <source srcset="../img/Mia Dubrovska.jpg" media="(min-width:1158)">
            <source srcset="../img/Mia Dubrovska x2.jpg 2x" media="(min-width:768)">
            <source srcset="../img/Mia Dubrovska x1.jpg 1x" media="(min-width:320)">

          <img src="../img/secour-mentors/Mia Dubrovska-min.jpg" alt="Mia Dubrovska" width="180" height="180" 
          class="our-mentors-img">

          </picture>

          <h3 class="our-mentors-subtitle">Mia Dubrovska</h3>
          <p class="our-mentors-item-text">
            2.0 years of experience
          </p>
        </li>
  
        <li class="our-mentors-item">


          <picture>

            <source srcset="../img/Eliot Kovalev.jpg" media="(min-width:1158)">
            <source srcset="../img/Eliot Kovalev x2.jpg 2x" media="(min-width:768)">
            <source srcset="../img/Eliot Kovalev x1.jpg 1x" media="(min-width:320)">

          <img src="../img/secour-mentors/Eliot Kovalev-min.jpg" alt="Eliot Kovalev" width="180" height="180"
           class="our-mentors-img">

           </picture>
           
          <h3 class="our-mentors-subtitle">Eliot Kovalev</h3>
          <p class="our-mentors-item-text">
            4.0 years of experience
          </p>
        </li>
      </ul>
    </section>
  