<section class="our-mentors" id="mentors">
  
  <div class="mentors">
  <h2 class="our-mentors-title section-title"><span>Our</span> Mentors</h2>
  <ul class="our-mentors-list">
    <li class="our-mentors-item">

    

      <img 
      srcset="../img/emilia-2x.jpg 2x"
      src="/src/img/emilia.jpg"
      alt="Emilia Smith"
      width="180" height="180" 
      class="our-mentors-img" />
      

      <h3 class="our-mentors-subtitle">Emilia Smith</h3>
      <p class="our-mentors-item-text">
        1.5 years of experience
      </p>
    </li>
    <li class="our-mentors-item">

     

      <img 
      srcset="../img/alex-2x.jpg 2x"
      src="/src/img/alex.jpg"
      alt="Alex Lebedev"
      width="180" height="180" 
      class="our-mentors-img" />


      <h3 class="our-mentors-subtitle">Alex Lebedev</h3>
      <p class="our-mentors-item-text">
        3.5 years of experience
      </p>
    </li>
    <li class="our-mentors-item">


 

      <img 
      srcset="../img/mia-2x.jpg 2x"
      src="/src/img/mia.jpg"
      alt="Mia Dubrovska"
      width="180" height="180" 
      class="our-mentors-img" />

      <h3 class="our-mentors-subtitle">Mia Dubrovska</h3>
      <p class="our-mentors-item-text">
        2.0 years of experience
      </p>
    </li>

    <li class="our-mentors-item">



      <img 
      srcset="../img/eliot-2x.jpg 2x"
      src="/src/img/eliot.jpg"
      alt="Eliot Kovalev"
      width="180" height="180" 
      class="our-mentors-img" />

  
       
      <h3 class="our-mentors-subtitle">Eliot Kovalev</h3>
      <p class="our-mentors-item-text">
        4.0 years of experience
      </p>
    </li>
  </ul>
</div>
</section>

   