<section id="section-review">
  <h2 class="review-header">Reviews</h2>
  <ul class="review-list">
    <li class="review-item">
      <img
        src="../img/img-reviews/Abraham.png"
        alt="Abraham Baker"
        width="56"
        class="review-img"
      />
      <div class="review-card-description">
        <h3 class="review-card-name">Abraham Baker</h3>
        <p class="review-card-status">Student</p>
      </div>
      <div>
        <svg width="16" height="16">
          <use href="../img/symbol-defs.svg#icon-star-filled"></use>
        </svg>
        <svg width="16" height="16">
          <use href="../img/symbol-defs.svg#icon-star-filled"></use>
        </svg>
        <svg width="16" height="16">
          <use href="../img/symbol-defs.svg#icon-star-filled"></use>
        </svg>
        <svg width="16" height="16">
          <use href="../img/symbol-defs.svg#icon-star-filled"></use>
        </svg>
        <svg width="16" height="16">
          <use href="../img/symbol-defs.svg#icon-star-empty"></use>
        </svg>
      </div>
      <p class="review-comment">
        I am very pleased that I decided to enroll in photography school. The
        teachers turned out to be very talented and experienced professionals
        who share their knowledge and are dedicated to their work. I was able to
        expand my skills and discover my own style.
      </p>
    </li>
    <li class="review-item">
      <img
        src="../img/img-reviews/Amanda.png"
        alt="Amanda Lowery"
        width="56"
        class="review-img"
      />
      <div class="review-card-description">
        <h3 class="review-card-name">Amanda Lowery</h3>
        <p class="review-card-status">Student</p>
      </div>
      <div>
        <svg width="16" height="16">
          <use href="../img/symbol-defs.svg#icon-star-filled"></use>
        </svg>
        <svg width="16" height="16">
          <use href="../img/symbol-defs.svg#icon-star-filled"></use>
        </svg>
        <svg width="16" height="16">
          <use href="../img/symbol-defs.svg#icon-star-filled"></use>
        </svg>
        <svg width="16" height="16">
          <use href="../img/symbol-defs.svg#icon-star-filled"></use>
        </svg>
        <svg width="16" height="16">
          <use href="../img/symbol-defs.svg#icon-star-empty"></use>
        </svg>
      </div>
      <p class="review-comment">
        The courses at the photography school exceeded all my expectations. I
        gained not only technical knowledge, but also inspiration and motivation
        to reach new heights in my creativity. Hands-on classes and workshops
        helped me understand different styles of photography.
      </p>
    </li>
  </ul>
</section>
