


.advertisment {
    background: #121212;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .advertisment__wrapper {
    display: flex;
    overflow: hidden;
    padding: 24px 0;
  }
  .advertisment__ticker {
    display: flex;
    animation: ticker 4s infinite ease-in-out ;
  }
  .advertisment__title {
    color: #BEA69E;
  font-size: 59px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  min-width: 100%;
  text-transform: uppercase;
  }
  
  .advertisment__title span {
    color: #FFFFFF;
  }
  
  @keyframes ticker {
    0%{ 
      transform: translateX(0) ;
    }
    100%{
      transform: translateX(-100%) ;
    }
  }
  
  @media screen  and (min-width: 768px){
    
  }
  
  
  @media screen  and (min-width: 768px){
    
  }