.hero {
  background: #121212;
  color: #FFFFFFB2;
}

.container {
max-width: 375px;
padding-left: 20;
padding-right: 20px;
}

.img{
  border-radius: 0;
}

.hero-container {
border-radius: 30px;
background: #1D1D1D;
max-width: 335px;
}

.hero-title{
color: #FFF;
font-size: 40px;
font-weight: 500;
line-height: 1.1;
letter-spacing: -0.04em;
padding-top: 40px;
margin-bottom: 20px;
}

.hero-span{
color: #BEA69E;
font-size: 40px;
font-style: italic;
font-weight: 400;
line-height: 1.1;
letter-spacing: -0.04em;
}

.hero-text {
color: #FFF;
font-size: 14px;
font-weight: 400;
line-height: 1,28;
letter-spacing: -0.02em;
margin-bottom: 40px;
}

.hero-block {
display: inline-flex;
height: 84px;
justify-content: center;
align-items: flex-start;
flex-shrink: 0;
margin-bottom: 31px;
}
.hero-block-student {
  margin-right: 40px;
  }

.hero-student-list {
  display: flex;
  margin-bottom: 4px;
  overflow: hidden;

}

.hero-student-item {
  flex-shrink: 0;
  border-radius: 100px;
  width: 44px;
  height: 44px;
  position: relative;
  margin-right: -12px; 
  
}
.hero-student-item:nth-child(1) {
  z-index: 3;
}
.hero-student-item:nth-child(2) {
  z-index: 2;
}
.hero-student-item:nth-child(3) {
  z-index: 1;
}

.hero-student-item:first-child {
  margin-left: 0;
}

.hero-student-item:nth-child(3) {
  margin-right: 0;
}


.hero-student {
  display: flex;
justify-content: center;
align-items: center;
gap: 4px;
width: 89px;
}

.hero-student-text {
color: #FFF;
font-size: 14px;
font-weight: 400;
line-height: 1.28; 
letter-spacing: -0.04em;
}

.hero-student-icon {
gap: 4px;
fill: #FFFFFF;
}

.hero-block-reviews {
  display: flex;
  gap: 12px;
}

.hero-star-circle {
  border-radius: 50%;
  background-color: #BEA69E;
  width: 44px;
  height: 44px;
  position: relative;
}

.hero-reviews-icon {
  width: 100%;
  height: 100%;
    fill: #BEA69E;
    position: absolute;
  top: 0%;
  left: 00%;
  transform: translate(20%, 0%);
      
}



.hero-reviews {
color: rgba(255, 255, 255, 0.50);
font-size: 14px;
font-weight: 400;
line-height: 1.28;
letter-spacing: -0.04em;
}
.hero-reviews-1500 {
color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.12;
letter-spacing: -0.04em;
}
.hero-rectangle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 0px;
}