.our-courses {
  padding-bottom: 80px;
}

.container {
  padding: 0 20px;
  max-width: 100%;
}

.courses-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.courses-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  text-transform: capitalize;
}

.course-title-color {
  color: #bea69e;
}

.courses-text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.courses-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  counter-reset: item;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.course-item {
  display: block;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  height: 398px;
  padding: 28px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  position: relative;
  width: 100%;
  height: 100%;
  /* pointer-events: none; */
}

.course-item:before {
  content: counter(item, decimal-leading-zero) ' ';
  counter-increment: item;
}

.course-icon-btn {
  background-color: #1d1d1d;
  border-radius: 50%;
  border: none;
  width: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 28px;
  top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.arrow-icon {
  stroke: #777777;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.course-icon-btn:hover,
.course-icon-btn:focus {
  background-color: #bea69e;
}

.course-icon-btn:hover .arrow-icon,
.course-icon-btn:focus .arrow-icon {
  stroke: #ffffff;
}

.course-subtitle {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  margin-top: 28px;
  margin-bottom: 164px;
}

.course-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* ---------------------------------------------------- */
/* -------------------- MEDIA 375px ------------------- */
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
/* ---------------------------------------------------- */
/* ------------------- MEDIA TABLET ------------------- */
@media screen and (min-width: 768px) {
  .our-courses {
    padding-bottom: 100px;
  }

  .container {
    padding: 0 32px;
    max-width: 768px;
    flex-direction: column;
  }

  .courses-wrap {
    flex-direction: row;
    gap: 58px;
    margin-bottom: 50px;
  }

  .courses-title {
    font-size: 48px;
    line-height: 1.13;
    width: 265px;
  }

  .courses-text {
    font-size: 16px;
    line-height: 1.25;
    width: 381px;
  }

  .course-item {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 20px) / 2);
    max-width: 342px;
    max-height: 452px;
    padding: 32px;
  }

  .course-icon-btn {
    right: 32px;
    top: 32px;
  }

  .course-subtitle {
    margin-top: 32px;
    margin-right: 45px;
  }
}
/* ---------------------------------------------------- */
/* ------------------- MEDIA DESKTOP ------------------ */
@media screen and (min-width: 1280px) {
  .our-courses {
    padding-bottom: 150px;
  }

  .container {
    padding: 0 100px;
    max-width: 1280px;
  }

  .courses-wrap {
    flex-direction: row;
    gap: 410px;
    margin-bottom: 50px;
  }

  .courses-title {
    width: 265px;
  }

  .courses-text {
    width: 405px;
  }

  .course-item {
    width: calc((100% - 40px) / 3);
    max-width: 347px;
  }
}
