.reviews-container {
  padding-bottom: 80px;
}
.reviews-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review-header {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #ffffff;
}

.review-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
}

.review-head-wrap {
  display: flex;
  gap: 10px;
}

.review-card-description {
  display: flex;
  flex-direction: column;
}

.star-fill {
  fill: #bea69e;
}

.star-empty {
  fill: #414141;
}

.stars-rate {
  margin-top: 10px;
}

.review-img {
  height: 56px;
}

.review-card-name {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 4px;
}

.review-card-status {
  color: rgba(255, 255, 255, 0.5);
  font-family: DM Sans;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: -0.24px;
}

.review-comment {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.28px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .mob-item-hidden {
    display: none;
  }

  .review-item {
    width: 335px;
    height: 244px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .mob-item-hidden {
    display: none;
  }

  .review-item {
    width: 640px;
    margin-left: 32px;
  }

  .review-header {
    font-size: 48px;
    line-height: 54px; /* 112.5% */
  }

  .review-comment {
    font-size: 16px;
    line-height: 20px; /* 125% */
    letter-spacing: -0.32px;
  }

  .review-card-name {
    line-height: 28px; /* 140% */
  }

  .review-card-status {
    font-size: 14px;
    line-height: 18px; /* 128.571% */
  }

  .star-fill {
    width: 20px;
    height: 20px;
  }

  .star-empty {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 1280px) {
  .reviews-container {
    padding-bottom: 150px;
  }

  .review-item {
    width: 530px;
  }

  .review-header {
    font-size: 48px;
    line-height: 54px; /* 112.5% */
  }

  .amanda-card {
    display: flex;
  }

  .review-cards-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
