.sign-up-container {
    max-width: 375px;
}

.sign-up {
    padding-bottom: 80px;
    background-color: #121212;
}

.section-title {
    color: white;
    font-size: 28px;
    font-family: DM Sans;
    font-weight: 500;
    line-height: 1.14;
    margin-bottom: 20px;
}

.section-title-span {
    color: #BEA69E;
    font-size: 28px;
    font-family: DM Sans;
    font-weight: 500;
    line-height: 1.14;
}

.section-text {
    color: white;
    font-size: 14px;
    font-family: DM Sans;
    line-height: 1.29;
    max-width: 305px;
    text-align-last: left;
    margin-bottom: 40px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sign-up-input {
    display: block;
    width: 100%;
    height: 46px;
    border-radius: 12px; 
    border: 1px rgba(255, 255, 255, 0.20) solid;
    background-color: inherit;
    color: white;
    font-size: 14px;
    font-family: DM Sans;
    line-height: 1.29;
} 

.sign-up-input:focus {
    border: 1px rgba(255, 255, 255, 0.50) solid;
}

.sign-up-message {
    width: 100%;
    height: 112px;
    border-radius: 12px; 
    border: 1px rgba(255, 255, 255, 0.20) solid;
    background-color: inherit;
    resize: none;
    font-size: 14px;
    font-family: DM Sans;
    line-height: 1.29;
    padding: 14px 18px 14px 0;
    margin-bottom: 40px;
}


::placeholder {
    color: white;
    font-size: 14px;
    font-family: DM Sans;
    font-weight: 400;
    line-height: 1.29;
    padding-left: 18px;
}

.sign-up-btn {
    display: block;
    border: none;
    font-family: inherit;
    width: 100%;
    height: 48px;
    color: #121212;
    font-size: 16px;
    font-family: DM Sans;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.25;
    border-radius: 12px; 
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
}

.sign-up-btn:focus {
    background-color: #1D1D1D;
    color: #BEA69E;
}

.privacy-policy-text {
    color: rgba(255, 255, 255, 0.50);
    font-size: 12px;
    font-family: DM Sans;
    line-height: 1.33;
    max-width: 340px;
}
.privacy-policy-link {
    text-decoration: underline;
}

.img-container {
    display: none;
}

@media screen and (min-width: 375px) {
    .sign-up-container {
        max-width: 375px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    
    .sign-up-container {
        max-width: 704px;
    }

    .sign-up {
       padding-bottom: 100px;
    }

    .section-title {
        font-size: 48px;
    }

    .section-title-span {
        font-size: 48px;

    }

    .section-text {
        font-size: 16px;
        line-height: 1.25;
        max-width: 480px;
    }

    .sign-up-form {
        gap: 14px;
    }

    .sign-up-input {
        max-width: 480px;
        height: 60px;
    }

    .sign-up-message {
        max-width: 480px;
        height: 120px;
    }

    .sign-up-btn {
        max-width: 480px;
        height: 60px;
        font-size: 18px;
        line-height: 1.56;
    }

    ::placeholder {
        font-size: 16px;
        line-height: 1.25;
    }

    .privacy-policy-text {
        max-width: 480px;
        font-size: 14px;
        line-height: 1.29;

    }
}

@media screen and (min-width: 1280px) {

    .sign-up-container {
        max-width:1080px;
        margin: 0 auto;
        display: flex;
        gap: 60px;
    }

    .sign-up {
        padding-bottom: 150px;
    }

    .img-container {
        display: flex;
        align-items: flex-end;
        gap: 20px;
        width: 540px;
        height: 540px;
    }

    .lens-wrap {
        background-color: #BEA69E;
        width: 180px;
        height: 288px;
        border-radius: 1000px;
        padding: 76px 19px 62px 19px;
    }

    .lens-wrap img {
        min-width: 145%;
        transform: translateX(-30%);
       
    }

    .camera-wrap {
        background-color: #1D1D1D;
        width: 340px;
        height: 540px;
        border-radius: 1000px;
        padding: 156px 50px 88px;
    }
    
    
}